body {
    font-family: Arial;
    padding: 20px;
    background: #00014d;
    color: #ffffff;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    background: rgb(157, 183, 196);
    border-collapse: collapse;
    color: #ffffff;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    text-align: center;
}

tr:hover {
    background: #0cc4c4;
}



